{% extends "base.html" %}

{% block title %}Student Directory{% endblock %}

{% block content %}
<h2>CLHS '75 Student Directory</h2>
<p>Here is a list of classmates who are coming to the reunion, those who can't make it,
    and those who are no longer with us. Take a look at what your classmates have been up to for the past fifty years
    and please add your own information.  Let us know if you will be bringing any guests, and if so, how many.
    You can also upload up to five photos of yourself and your family. </p>

<div class="list-group">
    {% set coming_students = [] %}
    {% set other_students = [] %}
    {% set deceased_students = [] %}

    {% for student in students %}
        {% if student.status == 'Coming' %}
            {% set _ = coming_students.append(student) %}
        {% elif student.status == 'Deceased' %}
            {% set _ = deceased_students.append(student) %}
        {% else %}
            {% set _ = other_students.append(student) %}
        {% endif %}
    {% endfor %}

    {% if coming_students %}
    <h3>Classmates Coming to the Reunion</h3>
    {% for student in coming_students %}
        {% include 'student_card.html' %}
    {% endfor %}
    {% endif %}

    {% if other_students %}
    <h3 class="mt-5">Other Responses</h3>
    {% for student in other_students %}
        {% include 'student_card.html' %}
    {% endfor %}
    {% endif %}

    {% if deceased_students %}
    <h3 class="mt-5">In Memoriam</h3>
    {% for student in deceased_students %}
        {% include 'student_card.html' %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}